.admin {
  height: 100%;
  background-color: #f4f4f4;

  .admin__inner {
    display: flex;
    align-items: flex-start;
  }
  .adminbar {
    position: relative;
    width: 330px;
    height: 100vh;
    padding: 56px 24px 40px 24px;
    background-color: $white;
    border-radius: 0px 24px 24px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @include media-max {
      display: none;
    }

    .adminbar__img {
      display: flex;

      width: 79px;
      height: 76px;
      margin: 0 auto;
      margin-bottom: 32px;
    }

    .adminbar__link {
      display: block;
      color: #5c5c5c;
      padding: 17px 24px;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border-radius: 12px;
      background-color: #f6f6f6;
      margin-bottom: 30px;
      transition: all 0.3s ease;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        transition: all 0.3s ease;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
    }

    .adminbar__link--log {
      border: none;
      position: absolute;
      left: 20px;
      bottom: 30px;
      color: #ddd9d9;
      transition: all ease 0.3s;
      background-color: #136bae;
      &:hover {
        transition: all ease 0.3s;
        color: $white;
        background-color: $blue;
      }
    }

    .adminbar__link--link {
      width: 90%;
      text-align: start;
      border: none;
      transition: all ease 0.3s;
      background-color: $green;
      margin-bottom: 14px;
      &:hover {
        transition: all ease 0.3s;
        color: $white;
        background-color: $blue;
      }
    }

    .active {
      display: block;
      color: $white;
      padding: 17px 24px;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border-radius: 12px;
      background-color: $black;
      margin-bottom: 30px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .adminbar__Links {
      margin-top: 70px;
    }
  }

  .admin__nav {
    margin-bottom: 56px;
    ::-webkit-scrollbar {
      height: 2px !important;
    }
    ::-webkit-scrollbar-thumb {
      background: #188ce562;
    }
    @include media-min(1440px) {
      display: none;
    }

    .adminbar__list {
      display: flex;
      align-items: center;
      @include media-max(1440px) {
        overflow-x: scroll;
      }
    }

    .adminbar__link {
      color: $black;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 16px 22px;
      border-radius: 8px;
      margin-right: 8px;
      border: 2px solid #e6e6e6;

      @include media-max(600px) {
        font-size: 16px;
        padding: 14px 20px;
      }
    }

    .active {
      color: $white;
      background-color: $black;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 16px 22px;
      border-radius: 8px;
      margin-right: 8px;
      border: 2px solid #e6e6e6;

      @include media-max(600px) {
        font-size: 16px;
        padding: 14px 20px;
      }
    }

    .adminbar__link--log {
      min-width: 120px;
      height: 60px;
      display: block;
      color: #ffffff;
      background-color: #188ce5;
    }
  }

  .admin__table {
    width: 100%;
    padding: 56px 32px 20px 32px;
    @include media-max(500px) {
      padding: 30px 15px 20px 15px;
    }
  }

  .studenttable {
    position: relative;
    ::-webkit-scrollbar {
      height: 2px !important;
      overflow-x: hidden;
    }
    ::-webkit-scrollbar-thumb {
      background: #188ce562;
    }
    .studenttable__top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 56px;
      ::-webkit-scrollbar {
        display: none;
      }
      @include media-max(1440px) {
        margin-bottom: 24px;
        justify-content: flex-start;
        overflow-x: scroll;
      }
    }

    .studenttable__select {
      cursor: pointer;
      width: 100%;
      max-width: 200px;
      padding: 10px 30px;
      border: none;
      border: 1px solid #a4a1a1;
      border-radius: 12px;
      background-color: $white;
      margin-right: 18px;
      *option {
        padding: 10px 0;
      }
    }

    .studenttable__select--first {
      width: 100%;
      min-width: 120px;
      min-height: 44;
      padding: 12px 15px;
      margin-right: 25px;
    }

    .studenttable__select--second {
      min-width: 130px;
      min-height: 44px;
      max-width: 150px;
      padding: 12px 0px;
      border: none;
      color: $white;
      background-color: $blue;
      @include media-max(400px) {
        height: 40px;
        width: 180px;
      }
    }

    .studenttable__select--class {
      margin-left: 25px;
      max-width: 180px;
      min-width: 150px;
    }

    .studenttable__label {
      position: relative;
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../../images/icons/tabler_search.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .studenttable__search {
      width: 100%;
      max-width: 400px;
      min-width: 200px;
      padding: 12px 50px;
      border: none;
      border-radius: 12px;
      background-color: #e6e6e6;
      margin-right: 18px;
    }

    .studenttable__btn {
      color: $white;
      text-align: center;
      padding: 10px 35px;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: none;
      border-radius: 12px;
      background-color: $blue;
      cursor: pointer;
    }
    .studenttable__main {
      background-color: $white;
      ::-webkit-scrollbar {
        display: none;
      }
      .table__top {
        padding: 23px 21px 14px 21px;
        background-color: $white;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #dfdfdf;

        .top__text {
          display: inline-block;
          color: #343a40;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          &:nth-child(1) {
            margin-right: 40px;
          }
          &:nth-child(3) {
            min-width: 240px;
            margin-right: 0px;
          }
          &:nth-child(4) {
            min-width: 160px;
            margin-right: 0px;
          }
          &:nth-child(5) {
            margin-right: 100px;
          }
          &:last-child {
            margin-right: 10px;
          }
        }

        .top__text--student {
          min-width: 255px !important;
        }

        .top__text--teacher {
          margin-right: 0;
          min-width: 200px;
        }

        .top__text--full {
          min-width: 250px !important;
        }

        .top__text--admin {
          margin-right: 0;
          min-width: 150px !important;
        }

        .top__text--another {
          min-width: 310px !important;
        }
        .top__text--width {
          min-width: 260px !important;
        }

        .top__text--full {
          min-width: 260px !important;
        }

        .top__text--edit {
          min-width: 160px !important;
        }

        .top__text--sone {
          min-width: 230px;
        }
      }

      .classing {
        justify-content: space-between;
        padding: 22px 140px;
        .top__text--classing {
          min-width: auto !important;
          margin: 0 !important;
        }
        @include media-max(700px) {
          padding: 20px 60px !important;
        }
        @include media-max(700px) {
          padding: 20px 30px !important;
        }
      }

      .table__list {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;

        @include media-max(1440px) {
          overflow-x: scroll;
        }
      }

      .table__item {
        padding: 9px 21px;
        background-color: $white;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dfdfdf;

        // border-bottom: 1px solid #dfdfdf;
        .table__img {
          width: 35px;
          height: 35px;
          border-radius: 100px;
          box-shadow: 0px 2.758972644805908px 2.758972644805908px 0px
            rgba(0, 0, 0, 0.1);
          margin-right: 40px;
        }

        .table__span {
          display: inline-block;
          color: var(--light-secondary, #6c757d);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          position: relative;
          &::after {
            content: "";
            bottom: -16px;
            position: absolute;
            width: 100%;
            height: 0.5px;
            background-color: #dfdfdf;
          }
        }

        .table__span--first {
          min-width: 238px;
        }
        .table__span--another {
          min-width: 350px;
        }
        .table__span--two {
          min-width: 260px;
        }
        .table__span--name {
          min-width: 263px;
        }
        .table__span--three {
          min-width: 230px;
          overflow-x: hidden;
          margin-right: 30px;
        }

        .table__span--margin {
          min-width: 250px;
        }

        .table__span--nam {
          min-width: 267px;
        }

        .table__span--admin {
          min-width: 150px;
        }

        .table__span--stwo {
          min-width: 150px;
        }

        .table__btn {
          border: none;
          padding: none;
          background-color: transparent;
          cursor: pointer;
          position: relative;
          &::after {
            content: "";
            bottom: -9px;
            position: absolute;
            width: 100%;
            height: 0.2px;
            background-color: #dfdfdf;
          }

          svg {
            width: 20px;
            height: 30px;
          }
        }

        .table__btn--margin {
          margin-right: 100px;
        }
      }
    }
    .studenttable__send {
      // z-index: 10;
      // position: absolute;
      // right: 20px;
      // bottom: -50px;
      border: none;
      color: $white;
      padding: 0;
      padding: 6px 20px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      border-radius: 10px;
      background-color: $blue;
    }
  }

  .teachers {
    padding: 0;
  }
}

.table__item--newitem {
  width: 100%;
  padding: 9px 140px !important;
  justify-content: space-between !important;
  @include media-max(700px) {
    padding: 9px 60px !important;
  }
  @include media-max(700px) {
    padding: 9px 30px !important;
  }
}

.classmodal {
  padding: 10px;
  border-radius: 10px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include media-max(500px) {
    max-width: 350px;
    margin: 0 auto;
  }
  @include media-max(400px) {
    max-width: 300px;
  }

  label {
    display: block;
    text-align: center;
    color: #727272;
    font-size: 17.636px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
  }

  input {
    width: 400px;
    display: inline-block;
    padding: 16px 18px;
    border-radius: 9.922px;
    border: 1.24px solid $grey;
    background: #eeebeb;
    margin: 0 auto;
    margin-bottom: 30px;

    @include media-max(500px) {
      max-width: 300px;
    }
    @include media-max(400px) {
      max-width: 250px;
    }
  }

  span {
    display: inline-block;
    font-size: 12px;
    color: red;
    margin-left: 20px;
  }

  div {
    display: flex;
    justify-content: center;
  }

  button {
    display: inline-block;
    color: $white;
    padding: 6px 60px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 10px;
    background-color: $blue;
  }

  .exit_btn {
    width: 25px;
    height: 25px;
    top: 6px;
    right: 6px;
    position: absolute;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
