.global {
  .global__inner {
    position: relative;
    height: 790px;
    // background-image: url(../../images/icons/teachers.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .global__title {
      color: $dark;
      font-family: Manrope;
      font-size: 70px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      position: absolute;
      top: 145px;
      left: 7%;

      @include media-max(800px) {
        font-size: 42px;
        left: 5%;
      }

      @include media-max(700px) {
        font-size: 36px;
        top: 20px;
        left: 22%;
      }
      @include media-max(500px) {
        font-size: 30px;
        left: 15%;
      }
      @include media-max(400px) {
        font-size: 25px;
        left: 12%;
      }
    }

    @include media-max(800px) {
      height: 716px;
      background-position: calc(50% - 220px);
    }

    @include media-max(500px) {
      height: 716px;
      background-position: calc(50% - 390px);
    }
  }

  .global__down {
    padding: 32px 0 120px 0;
    background-color: $white;
    @include media-max(800px) {
      padding: 20px 0 70px 0;
    }
  }

  .down__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .down__line {
    display: inline-block;
    width: 100%;
    // max-width: 485px;
    height: 5px;
    background-color: #cccccc;
    position: relative;
    // margin: 0 auto;

    &::before {
      content: "";
      width: 100%;
      max-width: 485px;
      height: 5px;
      background-color: $yellow;
      position: absolute;
      left: 30%;
      top: 0;
    }

    @include media-max(800px) {
      max-width: 200px;

      &::before {
        content: "";
        max-width: 50px;
        left: 40%;
      }
    }
  }
}

.userglobal {
  .userglobal__inner {
    height: 790px;
    // background-image: url(../../images/icons/family.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .global__title {
      width: 400px;
      color: $dark;
      font-family: Manrope;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      position: absolute;
      top: 330px;
      left: 5%;

      @include media-max(1050px) {
        font-size: 48.613px;
        // top: 430px;
        left: 5%;
      }

      @include media-max(680px) {
        width: auto;

        font-size: 32px;
        top: 20px;
        left: 15%;
      }

      @include media-max(500px) {
        font-size: 26px;
        top: 20px;
        left: 14%;
      }
      @include media-max(400px) {
        font-size: 24px;
        top: 20px;
        left: 10%;
      }
    }

    @include media-max(800px) {
      height: 716px;
      // background-position: calc(50% - 220px);
    }

    @include media-max(500px) {
      // height: 716px;
      background-position: calc(50% - 114px);
    }
  }

  .userglobal__down {
    padding: 32px 0 120px 0;
    background-color: $white;
    @include media-max(800px) {
      padding: 20px 0 60px 0;
    }
  }

  .down__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .down__line {
    display: inline-block;
    width: 100%;
    // max-width: 485px;
    height: 5px;
    background-color: #cccccc;
    position: relative;
    // margin: 0 auto;

    &::before {
      content: "";
      width: 100%;
      max-width: 485px;
      height: 5px;
      background-color: $yellow;
      position: absolute;
      left: 30%;
      top: 0;
    }

    @include media-max(800px) {
      max-width: 200px;

      &::before {
        content: "";
        max-width: 50px;
        left: 40%;
      }
    }
  }
}
