// Login.scss
.login {
  padding: 80px 0 120px 0;
  background-color: $grey;
  height: 100vh;

  .login__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login__title {
      color: $dark;
      font-family: Manrope;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 20px;
    }

    .login__question {
      margin-bottom: 10px;
      a {
        font-size: 20px;
        margin-left: 20px;
      }
    }

    .login__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px;
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: 10px;

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        label {
          margin-bottom: 5px;
        }

        .login__input {
          padding: 13px;
          border: 1px solid #ccc;
          border-radius: 6px;
          width: 330px;
          font-size: 14px;
        }
        span {
          color: #e80303;
          font-family: Manrope;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      .form-group--relation {
        position: relative;
        .form__eye {
          cursor: pointer;
          position: absolute;
          top: 40px;
          right: 10px;
          width: 20px;
          height: 20px;
          border: none;
          padding: 0;
          background-color: transparent;
          background-image: url(../../images//icons/eye.png);
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
        }
      }

      .login__btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: 10px;

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      margin-bottom: 5px;
    }

    .login__input {
      padding: 13px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 330px;
      font-size: 14px;
    }
    span {
      color: #e80303;
      font-family: Manrope;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .login__btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
}

.agent {
  z-index: 11;
  .login__input--select {
    margin-bottom: 20px;
  }
  table {
    border-collapse: collapse;

    thead tr {
      th {
        width: 100px !important;
        padding: 7px 0;
        color: $black;
        border: 1px solid #b4b4b4;
        text-align: center;
        font-family: Manrope;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    tbody tr td {
      width: 56px;
      border: 1px solid #b4b4b4;
      input {
        width: 100%;
        border: none;
        background-color: transparent;
        text-align: center;
        color: $black;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
